<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clientid" value="" />
    <add key="clientsecret" value="" />
    <add key="authuri" value="https://accounts.google.com/o/oauth2/auth" />
    <add key="tokenuri" value="https://oauth2.googleapis.com/token" />
  </appSettings>
</configuration>